body {
  width: 1424px;
  padding: 0;
  margin: 0;
  height: 100vh;
}

main {
  display: flex;
  width: 1424px;
  padding: 50px 33px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 56px;
  background: linear-gradient(190deg, #f5fafb 47.27%, #e9f6f9 85.77%);
  border: 1px solid black;
}

form {
  display: flex;
  width: 60.625rem;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.input-part {
  display: flex;
}

.info-input {
  display: flex;
  padding: 10px 14px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  background: var(--Gray-25, #fcfcfd);
  box-shadow: 0 0 0 1px rgba(103, 110, 118, 0.16),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.info-input input {
  flex: 1 0 0;
  color: var(--Gray-400, #8f95b2);

  /* Modal placeholder */
  font-family: "Proxima Nova";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
input {
  color: var(--Gray-400, #8f95b2);

  /* Modal placeholder */
  font-family: "Proxima Nova";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.message {
  display: flex;
  height: 168px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
  align-self: stretch;
}
input[type="text"],
input[type="email"] {
  padding: 20px 10px;
}

/* Consent Part */

.consent-part {
  display: flex;
  padding: 4px 0;
  align-items: flex-start;
  gap: 8px;
}
.consent-part label {
  color: var(--Primary-1000, #0a254d);

  /* Button Secondary(Regular) */
  font-family: "Proxima Nova";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}

/* Submit Button */

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit button {
  padding: 12px 100px;
  border-radius: 8px;
  background: linear-gradient(127deg, #4e84e5 31.39%, #61baff 102.17%);
  border: none;
  color: white;
  font-weight: 600;
  font-size: 16px;
}
