@font-face {
  font-family: "Proxima Nova";
  src: url(/assets/fonts/proximanovacond-regular.otf);
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url(/assets/fonts/proximanovacond-semibold.otf);
  font-weight: bold;
}

body {
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  padding: 3.125rem 2.0625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 56px;
  background: linear-gradient(190deg, #f5fafb 47.27%, #e9f6f9 85.77%);
  margin: auto;
  font-family: "Proxima Nova";
}

form {
  display: flex;
  width: 60.625rem;
  padding: 2rem;
  flex-direction: column;
  justify-content: start;
  gap: 2rem;
  border-radius: 16px;
  border: 1px solid #eaecf0;
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0.5) 99.5%);
  box-shadow: 0 0.882px 1.568px 0 rgba(38, 44, 59, 0.02),
    0 2.119px 3.767px 0 rgba(38, 44, 59, 0.03),
    0 3.99px 7.093px 0 rgba(38, 44, 59, 0.03),
    0 7.117px 12.653px 0 rgba(38, 44, 59, 0.04),
    0 13.312px 23.666px 0 rgba(38, 44, 59, 0.05),
    0 31.865px 56.648px 0 rgba(38, 44, 59, 0.07);
}

.input-part {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5rem;
  width: 50%;
}

.info div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.info-input {
  display: flex;
  align-items: start;
  gap: 0.5rem;
  flex-direction: row;
  padding: 10px 14px;
  border-radius: 8px;
  background: #fcfcfd;
  box-shadow: 0 0 0 1px rgba(103, 110, 118, 0.16),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.info-input input {
  font-size: 16px;
  background: #000;
  flex: 1 0 0;
}

/* text area: your message */

.message {
  display: flex;
  height: 168px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
  align-self: stretch;
  width: 50%;
}

textarea {
  font-family: "Proxima Nova";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  height: 140px;
  padding: 10px 14px;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 8px;
  background: #fcfcfd;
  box-shadow: 0 0 0 1px rgba(103, 110, 118, 0.16),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

input,
textarea {
  outline: none;
  border: none;
}
/* Consent Part */

.checkbox {
  display: flex;
  padding: 4px 0;
  align-items: flex-start;
  gap: 8px;
}
.checkbox label {
  font-family: "Proxima Nova";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.checkbox input {
  width: 20px;
  height: 20px;
}

/* Submit Button */

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit button {
  padding: 12px 100px;
  border-radius: 8px;
  background: linear-gradient(127deg, #4e84e5 31.39%, #61baff 102.17%);
  border: none;
  color: white;
  font-weight: 600;
  font-size: 16px;
}
